@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

*
{
    font-family: 'Nunito', sans-serif;

}
body
{
    background: url("bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;

}


.container,
.container-1
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 3px 19px -9px rgba(0,0,0,0.79);
    -webkit-box-shadow: 0px 3px 19px -9px rgba(0,0,0,0.79);
    -moz-box-shadow: 0px 3px 19px -9px rgba(0,0,0,0.79);
}

.container form
{
    display: flex;
    align-items: center;
}
.container form .side-section
{
    background: url("background-1.png");
    background-position: center;
    background-size: cover;
    width: 16rem;
    height: 28rem;   
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 0 25px 0 25px;
    color: #fff;
}

.container form .side-section .logo
{
    padding: 20px;
}

.container form .side-section h1
{
    font-size: 30px;
    margin-top: 2rem;
    text-align: center;
    padding: 0 30px 0 30px;
}

.container form .side-section .sign-up-btn 
{
    margin: 2rem 3rem;
    border: 1px solid #fff;
    border-radius: 30px;
    width: 50%;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    
}

.container form .side-section .sign-up-btn a
{
    text-decoration: none;
    color: #fff;
}

.container form .side-section p{
    text-align: center;
}

.container form .signin-section
{
    height: 28rem;
    width: 28rem;
    background: #FDFEFF;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0px 3px 19px -9px rgba(0,0,0,0.79);
    -webkit-box-shadow: 0px 3px 19px -9px rgba(0,0,0,0.79);
    -moz-box-shadow: 0px 3px 19px -9px rgba(0,0,0,0.79);
    
}

.container form .signin-section h1
{
    padding: 40px 0 35px 20px;
    color: #008E97;
    font-weight: 600;
   
}

.container form .signin-section .txt_field
{
    position: relative;
    border: 1px solid #ededed;
    padding: 0 30px 0 30px;
    margin: 0px 10px 30px 15px;
    border-radius: 5px;
    background: #ededed;
    width: 70%;
}

.container form .signin-section .txt_field input
{
    border: none;
    padding: 10px;
    outline: none;
    width: 100%;
    background: #ededed;
    

}

.container form .signin-section .txt_field label
{
    position: absolute;
    top:60%;
    left: 15px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 15px;
    transition: 0.5s;
}

.container form .signin-section .txt_field label i 
{
 margin: 0 5px;
}

.container form .signin-section .txt_field label::before
{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    height: 2px;
   
}

.container form .signin-section .txt_field input:focus ~ label,
.container form .signin-section .txt_field input:invalid ~ label

{
    top:-15px;
    color:lightseagreen;
}




.container form .signin-section .txt_field input:focus ~ label::before

{
    width: 100%;
}

.container .signin-section .flex_space
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 8px;
    
}

.container form .signin-section .flex_space .remember-me input[type='checkbox']
{
    background: lightgray;
   margin-right: 10px;
}

.container form .signin-section .flex_space .forgot-pass
{
    font-size: 14px;
    margin-right: 2.8rem;
    
}

.container form .signin-section .flex_space .forgot-pass a
{
    color: #008E97;
}


.container form .signin-section .btn-container
{
    margin: 20px 10px;
   background: #ED820E;
   width: 25%;
   padding: 8px;
   border-radius: 20px;
   text-align: center;
   transition: 0.3s all ease-in;
    

}

.container form .signin-section .btn-container .submit
{
    text-decoration: none;
    color: #fff;
    width: 100%;
}

.container form .signin-section .btn-container:hover
{
    background: #EC9706;
}

@media screen and (max-width:768px)
{
    .container form
    {
        flex-direction: column;
        height: 100vh;   
     
    }

    .container form .side-section
    {
        width:89%;
    }
    .container form .side-section
    {
        border-bottom-left-radius:0px;
        border-top-right-radius: 5px;
    }

    .container form .side-section .sign-up-btn 
    {
        margin-left: 5.5rem;
    }

    .container form .signin-section h1
    {
        text-align: center;
    }

    .container form .signin-section .btn-container
    {
        margin-left: 10rem;
        margin-bottom: 3rem;
    }
    .container form .signin-section
    {
        border-top-right-radius: 0px;
    }
    

}

@media (max-width:420px)
{
    .container form
    {
        margin-top: 2rem;
    }
    .container form .signin-section h1
    {
        text-align: center;
    }

    .container form .signin-section .btn-container
    {
        margin-left: 10rem;
        margin-bottom: 3rem;
    }
    .container .signin-section .flex_space
    {
        justify-content: space-around;
    }
    .container form .signin-section .txt_field
    {
        margin-left: 2.5rem;
    }
}



/** Sign Up form Style **/

.container-1 form
{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.container-1 form .side-section
{
    background: url("background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 16rem;
    height: 28rem;   
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 0 25px 0 25px;
    color: #fff;
}

.container-1 form .side-section .logo
{
    padding: 20px;
}

.container-1 form .side-section h1
{
    font-size: 30px;
    margin-top: 8rem;
    text-align: center;
    padding: 0 20px 0 20px;
}
.container-1 form .side-section 
{
    text-align: center;
}

.container-1 form .side-section .sign-up-btn
{
    margin: 2rem 3rem;
    border: 1px solid #fff;
    border-radius: 30px;
    width: 50%;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.container-1 form .side-section .sign-up-btn a
{
    font-size: 15px;
    text-decoration: none;
    color: #fff;
}

.container-1 form .signup-section
{
    height: 28rem;
    width: 28rem;
    background: #FDFEFF;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 0px 3px 19px -9px rgba(0,0,0,0.79);
    -webkit-box-shadow: 0px 3px 19px -9px rgba(0,0,0,0.79);
    -moz-box-shadow: 0px 3px 19px -9px rgba(0,0,0,0.79);
    
}

.container-1 form .signup-section .logo
{
    padding: 30px 0px 0px 30px;
}

.container-1 form .signup-section h1
{
    padding: 5px 0 0px 30px;
    color: #008E97;
    font-weight: 600;
   
}

.container-1 form .signup-section .txt_field
{
    position: relative;
    border: 1px solid #ededed;
    padding: 0 30px 0 30px;
    margin: 0px 10px 30px 15px;
    border-radius: 5px;
    background: #ededed;
    width: 70%;
}

.container-1 form .signup-section .txt_field label
{
    position: absolute;
    top:50%;
    left: 15px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 15px;
    transition: 0.5s;
}

.container-1 form .signup-section .txt_field label i 
{
    margin: 0 5px;
}

.container-1 form .signup-section .txt_field input
{
    padding: 8px;
    border: none;
    outline: none;
    width: 100%;
    background: #ededed;

}


.container-1 form .signup-section .txt_field input:focus ~ label,
.container-1 form .signup-section .txt_field input:invalid ~ label

{  
    top: -15px;
    color:lightseagreen;
}


.container-1 .signup-section .flex_space
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 8px;
    width: 87%;
    
}

.container-1 form .signup-section .btn-container
{
    font-size: 14px;
    margin: 20px 25px;
   background: #ED820E;
   width: 25%;
   padding: 8px;
   border-radius: 20px;
   text-align: center;
   cursor: pointer;
   transition: 0.3s all ease-in;
   margin-top: -0.9rem;


}

.container-1 form .signup-section .btn-container .sign-up
{
    text-decoration: none;
    color:#fff;

}

.container-1 form .signup-section .btn-container:hover
{
    background: #EC9706;
}


@media (max-width:768px)
{
    .container-1 form
    {
        flex-direction: column;
        height: 100vh;   
     
    }

    .container-1 form .side-section
    {
        width:89%;
    }
    .container-1 form .side-section
    {
        border-bottom-right-radius:0px;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }
    .container-1 form .side-section h1
    {
        font-size: 35px;
        margin-top: 1rem;
    }

    .container-1 form .side-section .sign-in-btn 
    {
        margin-left: 5.5rem;
    }

    .container-1 form .signup-section h1
    {
        text-align: center;
    }

    .container-1 form .signup-section .btn-container
    {
        margin-left: 10rem;
        margin-bottom: 3rem;
    }
    .container-1 form .signup-section
    {
        border-bottom-right-radius: 0px;
        border-top-left-radius: 0px;
    }
    .container-1 form .side-section .sign-up-btn 
    {
        margin-left: 5.5rem;
    }

    .container-1 form .signup-section h1
    {
        text-align: center;
    }

    .container-1 form .signup-section .btn-container
    {
        margin-left: 10rem;
        margin-bottom: 3rem;
    }
    .container-1 form .signup-section
    {
        border-top-right-radius: 0px;
    }
}